* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--aqua: #134752;
	--daqua: #306b70;
	--darkaqua: #026670;
	--blue: #3a82e0;
	--lightaqua: #6fb3b8;
	--teal: #52ab98;
	--grey: #f2f2f2;
	--lightblue: #c8d8e4;
	--cream: #f6f6f2;
	--white: #ffffff;
	--ltblue: #ebf7ff;
}

header {
	background-color: var(--darkaqua);
	padding: 10px 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--cream);
	font-size: 36px;
	text-shadow: 0 0 5px #c8d8e4;
}

header nav {
	margin: 7px 0px;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header nav ul li {
	list-style: none;
}

header a {
	text-decoration: none;
	font-size: 25px;
	color: white;
	padding: 10px;
	text-shadow: 0 0 5px #c8d8e4;
}
header nav ul li a:hover {
	background-color: var(--cream);
	border-radius: 10px;
	color: var(--aqua);
}

.footer {
	background-color: var(--teal);
	height: 30%;
	width: 100%;
}
.hero {
	background-image: url("../images/main5.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.self-img {
	flex: 1 0;
	text-align: center;
	padding: 20px 30px 20px 30px;
	margin-top: 30px;
}

.self-img img {
	border: 4px solid var(--cream);
	border-radius: 10%;
}

.about-me-desc {
	flex: 1 0;
	width: 35%;
	padding: 20px 30px 20px 30px;
	margin-top: 50px;
}

.about-me-desc p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: var(--daqua);
	font-weight: bold;
	text-align: center;
}
